.env
.venv/
# Cache Python
__pycache__/
*.py[cod]
*$py.class

.vscode/
metas.txt
setup.txt
frontend/js/voice1.js
frontend/styles/voice1.css
backend/data/
backend/runtime.txt
backend/token.json
backend/rhubarb.exe
credentials.json
token.json
ngrok.exe
ngrok.yml
