.env
.venv/
# Cache Python
__pycache__/
*.py[cod]
*$py.class

.vscode/
metas.txt
setup.txt
frontend/js/voice1.js
frontend/styles/voice1.css
backend/data/
backend/rhubarb.exe
credentials.json
.gitignore
token.json