__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.pytest_cache
.ruff_cache
.vscode
.git
.github
.env
Dockerfile
docker-compose.yml
requirements.txt
runtime.txt
Procfile
data/
assets/
tests/
scratch/
check_db.py
