fastapi
uvicorn
python-multipart
python-dotenv
bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]
anthropic
groq<1.0.0
langchain
langchain-community
langchain-chroma
langchain-groq
langchain-google-community
langchain-huggingface
google-auth-oauthlib
gTTS
httpx
pypdf
python-docx
fpdf2
supabase
jiter
google-genai
google-generativeai
resend
sentry-sdk[fastapi]
upstash-redis
python-dateutil
reportlab
edge-tts
apscheduler
pywebpush
youtube-transcript-api
python-pptx
openpyxl
markdown
cloudinary
pdf2image
Pillow
google-api-python-client
google-auth-httplib2
pydantic[email]
tavily-python
tavily
PyMuPDF
celery
redis
transformers
torch
librosa
g2p-en
soundfile
numpy>=1.24.0,<2.0.0
grpcio>=1.60.0,<1.63.0
